@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Sigmar&display=swap');

body {
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    background-color: rgb(117, 113, 113);
}

.header-area {
    text-align: center;
}

#title {
    font-family: 'Sigmar', cursive;
    font-size: 2.5rem;
    font-style: normal;
    color: rgb(195, 206, 206);
    letter-spacing: 2.5px;
    margin: 0 auto;
}

#title-description {
    font-weight: bold;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#img-div {
    color: rgba(195, 211, 233, 0.74);
}

#img-caption {
    width: 390px;
    text-align: center;
    margin: 0 auto;
}

.tribute-description {
    text-align: center;
}

ul {
    list-style-type: none;
}

li > b {
    font-style: normal;
}

q {
    display: inline-block;
    font-size: 1.25rem;
    margin-bottom: 16px;
}

:is(.text, q):hover {
    color: rgba(195, 211, 233, 0.74);
}

#quote a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#quote a:hover {
    text-decoration: underline;
}

#footer-area {
    text-align: center;
}

#footer-area a {
    color: black;
    text-decoration: none;
}

#footer-area a:hover {
    text-decoration: underline;
}